.deproduits {
  background-color: #f8c92a;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.deproduits img {
  width: auto;
  height: 250px;
  position: absolute;
  right: 5rem;
}
.deproduits a {
  color: black;
}
.firstblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.bi-cart-fill {
  font-size: 20px;
}
h3 {
  margin-bottom: 1rem !important;
}
form{
  display: flex;
  margin-top: 1.5remn;
  justify-content: space-around;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

form button {
  width: 100%;
}