.input-group {
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  max-height: 180px;
  overflow-y: auto;
  background-color: #fff;
  z-index: 10;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul li {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 14px;
  color: #333;
}

ul li:hover {
  background-color: #e9e9e9;
  cursor: pointer;
}

ul li img {
  max-width: 24px;
  margin-right: 10px;
}

.form-control + ul {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
