.packcard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    


}
.font-custom {
    font-size: 10px;
    width: 70%;
    text-align: justify;
}
.card img{
    width: 20vh;
    height: auto;
}